!!! XML
!!! Strict

%html
  %head
    %title a better team
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style.css"}
  %body
    .header
      %h1
        - link_url = "http://#{env['HTTP_HOST']}/"
        %a{:href => link_url}<
          a
          %span.big better
          team
    .content!= yield
    .footer
      Hosted on a
      %a{:href => 'http://heroku.com'} Heroku
      | Managed by
      %a{:href => 'http://fkino.net'} Fumihiko Kinoshita
      |
      %a{:href => 'http://twitter.com/fkino'} Feedback
      | Quiz by
      %a{:href => 'http://www.amazon.co.jp/o/ASIN/4873113954/fkino-22'} The Art of Agile Development
      | Original Web Site is
      %a{:href => 'http://www.abetterteam.org'} abetterteam.org
